.root {
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.input {
    border: 1px solid gray;
    border-radius: 3px;
    margin-right: 10px;
    width: 350px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}

.button{
    border: none;
    background-color: limegreen;
    border-radius: 15px;
    color: whitesmoke;
    height: 30px;
    width: 100px ;
}